@font-face {
  font-family: "misolight";
  src: url("fonts/miso-light-webfont.woff2") format("woff2"),
    url("fonts/miso-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "misobold";
  src: url("fonts/miso-bold-webfont.woff2") format("woff2"),
    url("fonts/miso-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "misoregular";
  src: url("fonts/miso-webfont.woff2") format("woff2"),
    url("fonts/miso-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "misoregular";
}
html,
body {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 162px;
  background-color: #e2363e;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 350px;
  text-align: right;
}
.logo-img {
  width: 220px;
}
.header-txt {
  font-size: 32px;
}
.usuario-info {
  width: 342px;
  height: 100%;
  background-color: #411a1a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.usuario-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.usuario-info-txt {
  margin-left: 10px;
  text-align: center;
}
.usuario-nome {
  font-size: 32px;
}

.usuario-plano {
  font-size: 24px;
}

.icon-bar {
  width: 100%;
  height: 86px;
  background-color: #7dc1c0;
  display: flex;
  flex-direction: row;
}

nav {
  width: 100%;
  height: 69px;
  background-color: #cbe7e6;
  color: #7dc1c0;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  display: block;
  float: left;
  padding: 10px;
  cursor: pointer;
}

nav ul li:hover {
  color: #558a89;
}

.container {
  width: 100%;
  height: 100vh;
  color: #7dc1c0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.aside-btn {
  width: 90%;
  height: 50px;
  border: 1px solid #7dc1c0;
  cursor: pointer;
  color: #2e8986;
  font-size: 32px;
}

.aside-btn:hover {
  background-color: #2e8986;
  color: white;
  transition: ease-in 0.4s;
}

aside ul li {
  list-style: none;
  font-size: 24px;
  padding: 5px 0;
}

aside .ativo {
  font-family: "misobold", sans-serif;
}

.conteudo {
  width: 73%;
  float: right;
  padding: 20px;
}

.conteudo h3 {
    font-size: 48px;
    color: #2e8986;
}

.textarea-perfil{
    margin-top: 25px;
}

footer { 
    width: 100%;
    height: 100px;
    background-color: #7dc1c0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-logo-container {
    color: white;
    flex-direction: column;
}

.footer-logo {
    width: 230px;    
}
.inside{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-icon {
    width: 32px;
    padding: 5px;
}
.contato-info-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px
}

.contato-info-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.colors {
    width: 100%;
    height: 10px;
    background-image: url('../img/color-bar.png');

}