@font-face {
  font-family: "misolight";
  src: url("fonts/miso-light-webfont.woff2") format("woff2"),
    url("fonts/miso-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "misobold";
  src: url("fonts/miso-bold-webfont.woff2") format("woff2"),
    url("fonts/miso-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "misoregular";
  src: url("fonts/miso-webfont.woff2") format("woff2"),
    url("fonts/miso-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Hiddens para o mobile */
.responsivo-btn,
.nav-responsivo {
  display: none;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
  }
  .logo-container {
    width: 80% !important;
    text-align: center !important;
  }
  .header-txt {
    display: none;
  }
  .usuario-info {
    display: none !important;
  }
  nav {
    display: none !important;
  }
  .nav-responsivo {
    width: 90%;
    padding: 20px;
    font-size: 1.4em;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 15px auto;
    transition: 0.5s;
    flex-direction: column;
  }
  .h-rule {
      margin: 10px;
      background-color: grey;;
  }
  .nav-responsivo > ul > li {
    list-style: none;
  }
  .usuario-info-responsive {
      margin-top: 15px;
      text-align: center;
  }
  .header-txt-responsive {
      text-align: center;
  }
  .responsivo-btn {
    width: 32px;
    display: block;
    margin-left: 15px;
  }
  aside {
    display: none !important;
  }
  .container {
    height: 100% !important;
    margin-bottom: 20px !important;
  }
  footer {
    height: 100% !important;
    flex-direction: column !important;
  }
  .contato-info-footer {
    flex-direction: column !important;
  }
  .contato-info-div {
    text-align: center;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "misoregular";
}
html,
body {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 100px;
  background-color: #e2363e;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 350px;
  text-align: right;
}
.logo-img {
  width: 180px;
}
.header-txt {
  font-size: 24px;
}
.usuario-info {
  width: 342px;
  height: 100%;
  background-color: #411a1a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.usuario-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.usuario-info-txt {
  margin-left: 10px;
  text-align: center;
}
.usuario-nome {
  font-size: 24px;
}

.usuario-plano {
  font-size: 18px;
}

.icon-bar {
  width: 100%;
  height: 86px;

  display: flex;
  flex-direction: row;
}

nav {
  width: 100%;
  height: 69px;
  background-color: #7dc1c0;
  color: #2e8986;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul li {
  display: flex;
  float: left;
  padding: 15px;
  cursor: pointer;
  margin: 0 audo;
  height: 60px;
}

nav ul li:hover {
  color: #558a89;
  opacity: 0.7;
  transition: linear 0.4s;
  border-bottom: 3px solid #2e8986;
}

.menu-icon {
  width: 32px;
  margin-right: 15px;
}
.container {
  width: 100%;
  height: 70vh;
  color: #7dc1c0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.aside-btn {
  width: 90%;
  height: 50px;
  border: 1px solid #7dc1c0;
  cursor: pointer;
  color: #2e8986;
  font-size: 32px;
}

.aside-btn:hover {
  background-color: #2e8986;
  color: white;
  transition: ease-in 0.4s;
}

aside ul li {
  list-style: none;
  font-size: 24px;
  padding: 5px 0;
}

aside .ativo {
  font-family: "misobold", sans-serif;
}

.conteudo {
  width: 73%;
  float: right;
  padding: 20px;
}
.row {
  width: 100%;
  margin-bottom: 75px;
  color: #2e8986;
}
.progresso-container {
  float: right;
  padding-bottom: 40px;
}
.progress-bar {
  width: 250px;
  height: 20px;
  border-radius: 20px;
  background-color: #2e8986;
  margin-top: 5px;
}
.conteudo h3 {
  font-size: 48px;
  color: #2e8986;
}

.textarea-perfil {
  margin-top: 25px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #7dc1c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-logo-container {
  color: white;
  flex-direction: column;
}

.footer-logo {
  width: 230px;
}
.inside {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icon {
  width: 32px;
  padding: 5px;
}
.contato-info-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.contato-info-footer {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.colors {
  width: 100%;
  height: 10px;
  background-image: url("../img/color-bar.png");
}
