@font-face {
  font-family: "misolight";
  src: url("fonts/miso-light-webfont.woff2") format("woff2"),
    url("fonts/miso-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "misobold";
  src: url("fonts/miso-bold-webfont.woff2") format("woff2"),
    url("fonts/miso-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "misoregular";
  src: url("fonts/miso-webfont.woff2") format("woff2"),
    url("fonts/miso-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Hiddens para o mobile */
.responsivo-btn,
.nav-responsivo {
  display: none;
}

@media only screen and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
  }
  .logo-container {
    width: 80% !important;
    text-align: center !important;
  }
  .header-txt {
    display: none;
  }
  .usuario-info {
    display: none !important;
  }
  nav {
    display: none !important;
  }
  .nav-responsivo {
    width: 90%;
    padding: 20px;
    font-size: 1.4em;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 15px auto;
    transition: 0.5s;
    flex-direction: column;
  }
  .h-rule {
    margin: 10px;
    background-color: grey;
  }
  .nav-responsivo > ul > li {
    list-style: none;
  }
  .usuario-info-responsive {
    margin-top: 15px;
    text-align: center;
  }
  .header-txt-responsive {
    text-align: center;
  }
  .responsivo-btn {
    width: 32px;
    display: block;
    margin-left: 15px;
  }
  aside {
    display: none !important;
  }
  .container {
    height: 100% !important;
    margin-bottom: 20px !important;
  }
  footer {
    height: 50% !important;
    flex-direction: column !important;
  }
  .contato-info-footer {
    flex-direction: column !important;
  }
  .contato-info-div {
    text-align: center;
  }
  .contato-info-div:last-child {
    justify-content: center;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "misoregular";
}
html,
body {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 100px;
  background-color: #e2363e;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 350px;
  text-align: right;
}
.logo-img {
  width: 180px;
}
.header-txt {
  font-size: 24px;
}
.usuario-info {
  width: 342px;
  height: 100%;
  background-color: #411a1a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.usuario-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.usuario-info-txt {
  margin-left: 10px;
  text-align: center;
}
.usuario-nome {
  font-size: 24px;
}

.usuario-plano {
  font-size: 18px;
}

.icon-bar {
  width: 100%;
  height: 86px;

  display: flex;
  flex-direction: row;
}

nav {
  width: 100%;
  height: 69px;
  background-color: #7dc1c0;
  color: #2e8986;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul li {
  display: flex;
  float: left;
  padding: 15px;
  cursor: pointer;
  margin: 0 audo;
  height: 60px;
}

nav ul li:hover {
  color: #558a89;
  opacity: 0.7;
  transition: linear 0.4s;
  border-bottom: 3px solid #2e8986;
}

.menu-icon {
  width: 32px;
  margin-right: 15px;
}
.container {
  width: 100%;
  height: 70vh;
  color: #7dc1c0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.aside-btn {
  width: 90%;
  height: 50px;
  border: 1px solid #7dc1c0;
  cursor: pointer;
  color: #2e8986;
  font-size: 32px;
}

.aside-btn:hover {
  background-color: #2e8986;
  color: white;
  transition: ease-in 0.4s;
}

aside ul li {
  list-style: none;
  font-size: 24px;
  padding: 5px 0;
}

aside .ativo {
  font-family: "misobold", sans-serif;
}

.conteudo {
  width: 73%;
  float: right;
  padding: 20px;
}
.row {
  width: 100%;
  margin-bottom: 75px;
  color: #2e8986;
}
.progresso-container {
  float: right;
  padding-bottom: 40px;
}
.progress-bar {
  width: 250px;
  height: 20px;
  border-radius: 20px;
  background-color: #2e8986;
  margin-top: 5px;
}
.conteudo h3 {
  font-size: 48px;
  color: #2e8986;
}

.textarea-perfil {
  margin-top: 25px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #7dc1c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-logo-container {
  color: white;
  flex-direction: column;
}

.footer-logo {
  width: 230px;
}
.inside {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icon {
  width: 32px;
  padding: 5px;
}
.contato-info-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.contato-info-footer {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.colors {
  width: 100%;
  height: 10px;
  background-image: url("../img/color-bar.png");
}

/*  */


#baixo{
  margin-top:25%;
}

.formCupom {
	margin: 0 auto;
  display: flex;
  
}

.formCupom row{
  flex-direction: row;
  justify-content: space-between;
   flex-wrap: nowrap;
   
  
}
#fname{
  font-weight: bold;
  width: 80%;
  padding-bottom:12px;
  padding-right:60px;
  box-sizing: border-box;  
}
#fname2{
  font-weight: bold;
  padding-bottom:12px;
  box-sizing: border-box; 
  margin-right:0px; 
}
.item{
  margin-right: 10%;
 
 
}
.item2{
  margin-right: 10%;

  
 
}
#fname3{
  text-align: center;
  margin-left: 25%;
  font-weight: bold;
}

.esquerda{

    float:left;
 
}
.direita{
  float:right;
}


@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
  }
}
input[type='checkbox']:after,
  input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type='checkbox']:checked,
  input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox']:disabled,
  input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }
  input[type='checkbox']:disabled:checked,
  input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled + label {
    cursor: not-allowed;
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type='checkbox']:focus,
  input[type='radio']:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
    width: 21px;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type='checkbox']:not(.switch):checked,
  input[type='radio']:not(.switch):checked {
    --o: 1;
  }
  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type='checkbox']:not(.switch) {
    border-radius: 7px;
  }
  input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: .6;
  }

  input[type='radio'] {
    border-radius: 50%;
  }
  input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  input[type='radio']:checked {
    --s: .5;
  }
}
ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
}
ul li {
  margin: 16px 0;
  position: relative;
}